/* =======================================================================
    Variables
======================================================================= */
  // Colors
  $whiteColor:             #fff !default;
  $blackColor:             #000 !default;
  $gray-darker:            #616161 !default;
  $gray-dark:              #757575 !default;
  $gray:                   #9e9e9e !default;
  $gray-light:             #bdbdbd !default;
  $gray-lighter:           #e0e0e0 !default;

  $color-primary:         #2196f3 !default;
  $color-primary-light:   lighten($color-primary, 20%) !default;
  $color-primary-dark:    darken($color-primary, 20%) !default;
  $color-success:         rgba(76, 175, 80, 0.70) !default;
  $color-info:            rgba(91, 192, 222, 0.70) !default;
  $color-warning:         rgba(255, 235, 59, .70) !default;
  $color-danger:          rgba(244, 67, 54, .70) !default;


  $disabled-color: lighten($gray-light, 15%);
  $disabled-text-color: lighten($gray-lighter, 15%);


  // Scaffolding
  $body-bg:    $whiteColor !default; // Background color for `<body>`.
  $text-color: $gray-dark !default; // Global text color on `<body>`.

  $link-color:            $color-primary !default; //** Global textual link color.
  $link-hover-color:      inherit !default;
  $link-hover-decoration: none !default; //** Link hover decoration.




/* =======================================================================
    Typography
======================================================================= */
    //## Font, line-height, and color for body text, headings, and more.
    $font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
    $font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

    //** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
    $font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;

    $font-family-base:        $font-family-sans-serif !default;

    $font-size-base:          16px !default;
    $font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
    $font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

    $font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
    $font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
    $font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
    $font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
    $font-size-h5:            $font-size-base !default;
    $font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

    //** Unit-less `line-height` for use in components like buttons.
    $line-height-base:        1.428571429 !default; // 20/14
    //** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
    $line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

    //** By default, this inherits from the `<body>`.
    $headings-font-family:    inherit !default;
    $headings-font-weight:    500 !default;
    $headings-line-height:    1.1 !default;
    $headings-color:          inherit !default;

/* =======================================================================
    Icons
======================================================================= */
    // bootstrap icons
    $bootstrap-sass-asset-helper: false !default;
    $icon-font-path: if($bootstrap-sass-asset-helper, "bootstrap/", "../icons/bootstrap-icons/") !default;
    $icon-font-name:          "glyphicons-halflings-regular" !default;
    $icon-font-svg-id:        "glyphicons_halflingsregular" !default;







/* =======================================================================
     Components
======================================================================= */
    $border-radius-base:        0px !default;
    $border-radius-large:       0px !default;
    $border-radius-small:       0px !default;

    //** Global color for active items (e.g., navs or dropdowns).
    $component-active-color:    $whiteColor !default;
    //** Global background color for active items (e.g., navs or dropdowns).
    $component-active-bg:       $color-primary !default;

    // Caret
    $caret-width-base:          4px !default;
    $caret-width-large:         5px !default;

/* =======================================================================
    Tables
======================================================================= */

    $table-border-color: #d0d0d0 !default;
    $table-striped-color: #f2f2f2 !default;


/* =======================================================================
    Buttons
========================================================================== */
    // General btn styles
    $btn-height: 35px !default;
    $btn-padding: 0 12px !default;
    $btn-font-size: 1em !default;
    $btn-font-weight: 300 !default;
    $btn-border: none !default;
    $btn-border-radius: 2px !default;

    // Buttons sizes
    //--------------
    // Extra Small buttons
    $btn-xs-button-height: 22px;
    $btn-xs-padding-horizontal: 1em;
    $btn-xs-font-size: 12px;
    $btn-xs-line-height: $btn-xs-button-height;
    $btn-xs-border-radius: $btn-border-radius;
    // Small buttons
    $btn-sm-button-height: 30px;
    $btn-sm-padding-horizontal: 1em;
    $btn-sm-font-size: 12px;
    $btn-sm-line-height: $btn-sm-button-height;
    $btn-sm-border-radius: $btn-border-radius;
    // Large buttons
    $btn-lg-button-height: 40px;
    $btn-lg-padding-horizontal: 1em;
    $btn-lg-font-size: 18px;
    $btn-lg-line-height: $btn-lg-button-height;
    $btn-lg-border-radius: $btn-border-radius;

    // Flat buttons
    //-----------------
    $btn-flat-color: #343434 !default;

    //Floating buttons
    //-----------------
    $btn-floating-background: $color-primary !default;
    $btn-floating-background-hover: $btn-floating-background !default;
    $btn-floating-color: $whiteColor !default;
    $btn-floating-size: 35px !default;
    $btn-floating-radius: 50% !default;
    $btn-floating-font-size: 1em !default;

    // Floating buttons sizes
    //-----------------
    // Extra Small Floating Buttons
    $btn-floating-xs-size: 22px;
    $btn-floating-xs-font-size: 12px;
    // Small Floating Buttons
    $btn-floating-sm-size: 30px;
    $btn-floating-sm-font-size: 12px;
    // Large Floating Buttons
    $btn-floating-lg-size: 40px;
    $btn-floating-lg-font-size: 18px;

    // Disabled styles
    $btn-disabled-background: $disabled-color !default;
    $btn-disabled-color: $disabled-text-color !default;

    //Btn colors
    //-----------------
    //btn-default
    $btn-default-color:              $gray-darker !default;
    $btn-default-bg:                 $whiteColor !default;
    $btn-default-border:             $gray-darker !default;
    //btn-primary
    $btn-primary-color:              $whiteColor !default;
    $btn-primary-bg:                 $color-primary !default;
    $btn-primary-border:             $btn-primary-bg !default;
    //btn-success
    $btn-success-color:              $whiteColor !default;
    $btn-success-bg:                 $color-success !default;
    $btn-success-border:             $btn-success-bg !default;
    //btn-info
    $btn-info-color:                 $whiteColor !default;
    $btn-info-bg:                    $color-info !default;
    $btn-info-border:                $btn-info-bg !default;
    //btn-warning
    $btn-warning-color:              $whiteColor !default;
    $btn-warning-bg:                 $color-warning !default;
    $btn-warning-border:             $btn-warning-bg !default;
    //btn-danger
    $btn-danger-color:               $whiteColor !default;
    $btn-danger-bg:                  $color-danger !default;
    $btn-danger-border:              $btn-danger-bg !default;




/* =======================================================================
 Forms
========================================================================== */
    // Text Inputs + Textarea
    $input-height: 40px !default;
    $input-border-color: $gray-light !default;
    $input-border: 1px solid $input-border-color !default;
    $input-background: $whiteColor !default;
    $input-error-color: $color-danger !default;
    $input-success-color: $color-success !default;
    $input-focus-color: $color-primary !default;
    $input-font-size: 1em !default;
    $input-margin: 0 0 15px 0 !default;
    $input-padding: 0 !default;
    $input-transition: all .3s !default;
    $label-font-size: 0.8em !default;
    $input-disabled-color: rgba(0,0,0, .26) !default;
    $input-disabled-solid-color: #BDBDBD !default;
    $input-disabled-border: 1px dotted $input-disabled-color !default;
    $input-invalid-border: 1px solid $input-error-color !default;
    $placeholder-text-color: lighten($input-border-color, 20%) !default;
    // Radio Buttons
    $radio-fill-color: $color-primary !default;
    $radio-empty-color: #5a5a5a !default;
    $radio-border: 2px solid $radio-fill-color !default;
    // Range
    $range-height: 14px !default;
    $range-width: 14px !default;
    $track-height: 3px !default;
    // Select
    $select-border: 1px solid #f2f2f2 !default;
    $select-background: rgba(255, 255, 255, 0.90) !default;
    $select-focus: 1px solid lighten($color-primary, 47%) !default;
    $select-padding: 5px !default;
    $select-radius: 2px !default;
    $select-disabled-color: rgba(0,0,0,.3) !default;
    // Switches
    $switch-bg-color: $color-primary !default;
    $switch-checked-lever-bg: desaturate(lighten($color-primary, 25%), 25%) !default;
    $switch-unchecked-bg: #F1F1F1 !default;
    $switch-unchecked-lever-bg: #818181 !default;
    $switch-radius: 15px !default;
    // Select
    $select-border: 1px solid #f2f2f2 !default;
    $select-background: rgba(255, 255, 255, 0.90) !default;
    $select-focus: 1px solid lighten($color-primary, 47%) !default;
    $select-padding: 5px !default;
    $select-radius: 2px !default;
    $select-disabled-color: rgba(0,0,0,.3) !default;

/* =======================================================================
    Dropdown
========================================================================== */
    $dropdown-bg-color: $whiteColor !default;
    $dropdown-hover-bg-color: #eee !default;
    $dropdown-color: $color-primary !default;
    $dropdown-item-height: 50px !default;



//** Disabled cursor for form controls and buttons.
    $cursor-disabled:                not-allowed !default;


//-- Z-index master list
    $zindex-navbar:            1000 !default;
    $zindex-dropdown:          1000 !default;
    $zindex-popover:           1060 !default;
    $zindex-tooltip:           1070 !default;
    $zindex-navbar-fixed:      1030 !default;
    $zindex-modal-background:  1040 !default;
    $zindex-modal:             1050 !default;


/* =======================================================================
    Media queries breakpoints
========================================================================== */
    // Extra small screen / phone
    //** Deprecated `$screen-xs` as of v3.0.1
    $screen-xs:                  480px !default;
    //** Deprecated `$screen-xs-min` as of v3.2.0
    $screen-xs-min:              $screen-xs !default;
    //** Deprecated `$screen-phone` as of v3.0.1
    $screen-phone:               $screen-xs-min !default;

    // Small screen / tablet
    //** Deprecated `$screen-sm` as of v3.0.1
    $screen-sm:                  768px !default;
    $screen-sm-min:              $screen-sm !default;
    //** Deprecated `$screen-tablet` as of v3.0.1
    $screen-tablet:              $screen-sm-min !default;

    // Medium screen / desktop
    //** Deprecated `$screen-md` as of v3.0.1
    $screen-md:                  992px !default;
    $screen-md-min:              $screen-md !default;
    //** Deprecated `$screen-desktop` as of v3.0.1
    $screen-desktop:             $screen-md-min !default;

    // Large screen / wide desktop
    //** Deprecated `$screen-lg` as of v3.0.1
    $screen-lg:                  1200px !default;
    $screen-lg-min:              $screen-lg !default;
    //** Deprecated `$screen-lg-desktop` as of v3.0.1
    $screen-lg-desktop:          $screen-lg-min !default;

    // So media queries don't overlap when required, provide a maximum
    $screen-xs-max:              ($screen-sm-min - 1) !default;
    $screen-sm-max:              ($screen-md-min - 1) !default;
    $screen-md-max:              ($screen-lg-min - 1) !default;

/* =======================================================================
    Grid system
======================================================================= */
    //** Number of columns in the grid.
    $grid-columns:              12 !default;
    //** Padding between columns. Gets divided in half for the left and right.
    $grid-gutter-width:         30px !default;
    // Navbar collapse
    //** Point at which the navbar becomes uncollapsed.
    $grid-float-breakpoint:     $screen-sm-min !default;
    //** Point at which the navbar begins collapsing.
    $grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

    //== Container sizes
    // Small screen / tablet
    $container-tablet:             (720px + $grid-gutter-width) !default;
    //** For `$screen-sm-min` and up.
    $container-sm:                 $container-tablet !default;

    // Medium screen / desktop
    $container-desktop:            (940px + $grid-gutter-width) !default;
    //** For `$screen-md-min` and up.
    $container-md:                 $container-desktop !default;

    // Large screen / wide desktop
    $container-large-desktop:      (1140px + $grid-gutter-width) !default;
    //** For `$screen-lg-min` and up.
    $container-lg:                 $container-large-desktop !default;







/* ========================================
    Labels
======================================== */
    $label-color:                 $whiteColor !default;
    $label-link-hover-color:      $whiteColor !default;
    $label-default-bg:            $gray-light !default;
    $label-primary-bg:            $color-primary !default;
    $label-success-bg:            $color-success !default;
    $label-info-bg:               $color-info !default;
    $label-warning-bg:            $color-warning !default;
    $label-danger-bg:             $color-danger !default;



//== Form states and alerts
    //## Define colors for form feedback states and, by default, alerts.
    $state-success-text:             #3c763d !default;
    $state-success-bg:               #dff0d8 !default;
    $state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;
    $state-info-text:                #31708f !default;
    $state-info-bg:                  #d9edf7 !default;
    $state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;
    $state-warning-text:             #8a6d3b !default;
    $state-warning-bg:               #fcf8e3 !default;
    $state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;
    $state-danger-text:              #a94442 !default;
    $state-danger-bg:                #f2dede !default;
    $state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;

/* =======================================================================
    Alerts
======================================================================= */
    $alert-padding:               15px !default;
    $alert-border-radius:         $border-radius-base !default;
    $alert-link-font-weight:      bold !default;
    $alert-success-bg:            $state-success-bg !default;
    $alert-success-text:          $state-success-text !default;
    $alert-success-border:        $state-success-border !default;
    $alert-info-bg:               $state-info-bg !default;
    $alert-info-text:             $state-info-text !default;
    $alert-info-border:           $state-info-border !default;
    $alert-warning-bg:            $state-warning-bg !default;
    $alert-warning-text:          $state-warning-text !default;
    $alert-warning-border:        $state-warning-border !default;
    $alert-danger-bg:             $state-danger-bg !default;
    $alert-danger-text:           $state-danger-text !default;
    $alert-danger-border:         $state-danger-border !default;



/* =======================================================================
  Thumbnail image
======================================================================= */
    $thumbnail-padding:           5px !default;
    $thumbnail-bg:                $body-bg !default;
    $thumbnail-border:            $gray-light !default;
    $thumbnail-border-radius:     $border-radius-base !default;


/* =======================================================================
    Cards
======================================================================= */
    $card-padding: 20px !default;
    $card-top-margin: 20px !default;
    $card-bottom-margin: 20px !default;
    $card-bg-color: #fff !default;
    $card-link-color: $link-color !default;
    $card-link-color-light: lighten($card-link-color, 20%) !default;








    // Close
    $close-font-weight:           bold !default;
    $close-color:                 #000 !default;
    $close-text-shadow:           0 1px 0 $whiteColor !default;

    //== Code
    $code-color:                  #c7254e !default;
    $code-bg:                     #f9f2f4 !default;

    $kbd-color:                   $whiteColor !default;
    $kbd-bg:                      #333 !default;

    $pre-bg:                      #f5f5f5 !default;
    $pre-color:                   $gray-dark !default;
    $pre-border-color:            #ccc !default;
    $pre-scrollable-max-height:   340px !default;


/* ========================================================================
	Type
========================================================================== */
	//** Horizontal offset for forms and lists.
	$component-offset-horizontal: 180px !default;
	//** Text muted color
	$text-muted:                  $gray-light !default;
	//** Abbreviations and acronyms border color
	$abbr-border-color:           $gray-light !default;
	//** Headings small color
	$headings-small-color:        $gray-light !default;
	//** Blockquote small color
	$blockquote-small-color:      $gray-light !default;
	//** Blockquote font size
	$blockquote-font-size:        ($font-size-base * 1.25) !default;
	//** Blockquote border color
	$blockquote-border-color:     $gray-lighter !default;
	//** Page header border color
	$page-header-border-color:    $gray-lighter !default;
	//** Width of horizontal description list titles
	$dl-horizontal-offset:        $component-offset-horizontal !default;
	//** Point at which .dl-horizontal becomes horizontal
	$dl-horizontal-breakpoint:    $grid-float-breakpoint !default;
	//** Horizontal line color.
	$hr-border:                   $gray-lighter !default;



/* =======================================================================
	Badges
======================================================================= */
	$badge-color:                 #fff !default;
	//** Linked badge text color on hover
	$badge-link-hover-color:      #fff !default;
	$badge-bg:                    $gray-light !default;

	//** Badge text color in active nav link
	$badge-active-color:          $link-color !default;
	//** Badge background color in active nav link
	$badge-active-bg:             #fff !default;

	$badge-font-weight:           bold !default;
	$badge-line-height:           1 !default;
	$badge-border-radius:         10px !default;


/* ==========================================================================
	Progress Bar
========================================================================== */
	$progress-bar-top-margin: 20px !default;
	$progress-bar-bottom-margin: 20px !default;
	$progress-bar-color: $color-primary !default;

/* ==========================================================================
	Spinners | Loaders
========================================================================== */
	$spinner-default-color: $color-primary !default;


/* ==========================================================================
	Side Navigation
========================================================================== */
	$sidenav-font-color: #444 !default;
	$sidenav-bg-color: #fff !default;
	$sidenav-padding-right: 30px !default;
	$sidenav-item-height: 64px !default;


/* =======================================================================
	Collapsible
========================================================================== */
	$collapsible-height: 40px !default;
	$collapsible-top-margin: 20px;
	$collapsible-bottom-margin: 20px;
	$collapsible-header-color: #fff !default;
	$collapsible-border-color: #ddd !default;


/* =======================================================================
	Toasts
========================================================================== */
	$toast-height: 48px !default;
	$toast-color: #323232 !default;
	$toast-text-color: #fff !default;


/* ==========================================================================
	Tabs
========================================================================== */
    $tabs-underline-color: $color-primary-light !default;
    $tabs-text-color: $color-primary !default;
    $tabs-bg-color: $whiteColor !default;


/* ========================================================================
	Date Picker
========================================================================== */
	$datepicker-weekday-bg: darken($color-primary, 7%) !default;
	$datepicker-date-bg: $color-primary !default;
	$datepicker-year: rgba(255, 255, 255, .4) !default;
	$datepicker-focus: rgba(0,0,0, .05) !default;
	$datepicker-selected: $color-primary !default;
	$datepicker-selected-outfocus: desaturate(lighten($color-primary, 35%), 15%) !default;